Package: veeapp
Version: 0.1.0
Architecture: amd64
Maintainer: spector517
Depends: nginx, fail2ban, openjdk-25-jre-headless, python3-venv, apache2-utils, openssl, veepeenet (>= 2.4.2)
Priority: optional
Section: net
Description: VeeApp — веб-панель управления VPN-сервером на базе Xray/VeePeeNET
